$mat-primary: (
    50: #ece8f4,
    100: #cfc6e4,
    200: #afa1d3,
    300: #8e7bc1,
    400: #765eb3,
    500: #5e42a6,
    600: #563c9e,
    700: #4c3395,
    800: #422b8b,
    900: #311d7b,
    A100: #c4b7ff,
    A200: #9b84ff,
    A400: #7151ff,
    A700: #5d37ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$mat-accent: (
    50: #e8eaf6,
    100: #c5cbe9,
    200: #9fa8da,
    300: #7985cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #394aae,
    700: #3140a5,
    800: #29379d,
    900: #1b278d,
    A100: #c6cbff,
    A200: #939dff,
    A400: #606eff,
    A700: #4757ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$mat-warn: (
    50: #f6eaf2,
    100: #e9cade,
    200: #dba7c8,
    300: #cd83b2,
    400: #c269a2,
    500: #b74e91,
    600: #b04789,
    700: #a73d7e,
    800: #9f3574,
    900: #902562,
    A100: #ffcfe9,
    A200: #ff9cd2,
    A400: #ff69bb,
    A700: #ff50b0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
