mat-card {
    display: grid;
    grid-template-rows: 2fr 2fr;
    margin: 1rem;

    .card-right {
        text-align: center;
        h1,
        h5 {
            font-weight: 400;
        }
        h1 {
            font-size: 1.6875rem;
        }
        h5 {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            font-size: 1rem;
            color: #848484;
        }

        .action-buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            padding: 0rem 1rem;
        }

        table {
            width: 100%;
            margin-top: 3rem;
            tr {
                line-height: 2rem;
                text-align: left;
                td {
                    width: 70%;
                    color: #848484;
                }
                td:first-child {
                    width: 30%;
                    color: #444444;
                }
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    /* For medium screen: */
    mat-card {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: none;
        grid-gap: 3rem;
        margin: 0;

        .card-right {
            margin: 2rem 0;
            text-align: left;

            .action-buttons {
                display: inline;
                padding: 0;
            }
        }
    }
}
