<mat-card>
  <app-profile></app-profile>
  <div class="card-right">
    <h1>Shashank Rawat</h1>
    <h5>Sr. Software Engineer (FULL STACK)</h5>
    <div class="action-buttons">
      <!-- <button mat-raised-button color="primary" (click)="onNavigate()">
        DOWNLOAD CV
      </button> -->
      <a
        mat-raised-button
        color="primary"
        href="assets/Resume.pdf"
        target="_blank"
        download
        >DOWNLOAD CV</a
      >
      <button
        mat-raised-button
        color="warn"
        (click)="onContact()"
        *ngIf="isMobile"
      >
        CONTACT
      </button>
    </div>
    <table>
      <tr>
        <td>Age</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Bengaluru, Karnatak, India</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>Shashank17nov@gmail.com</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>7276521821</td>
      </tr>
    </table>
  </div>
</mat-card>
