<nav *ngIf="!isMobile">
  <mat-toolbar color="primary">
    <div style="flex: 1 1 auto;">
      <span style="cursor: pointer;" routerLink="/">Shashank Rawat</span>
    </div>
    <div *ngIf="!isMobile" class="nav__list">
      <a
        *ngFor="let link of ids; let i = index"
        [href]="'#' + link"
        [ngClass]="{ active: currentActive === i }"
        [routerLink]="'.'"
        [fragment]="link"
      >
        {{ link }}
      </a>
    </div>
  </mat-toolbar>
</nav>

<main>
  <section *ngFor="let link of ids" [attr.id]="link" #links>
    <app-about *ngIf="link === 'about'"></app-about>
    <app-skills *ngIf="link === 'skills'"></app-skills>
    <app-experience *ngIf="link === 'experience'"></app-experience>
    <app-education *ngIf="link === 'education'"></app-education>
  </section>
</main>

<div *ngIf="isMobile" class="fab-menu">
  <button
    mat-fab
    color="primary"
    [matMenuTriggerFor]="fab_menu"
    (menuOpened)="isMenuOpen = true"
    (menuClosed)="isMenuOpen = false"
  >
    <div class="menu-icon" [ngClass]="{ 'menu-icon--animate': isMenuOpen }">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <!-- <mat-icon>menu</mat-icon> -->
  </button>
  <mat-menu #fab_menu="matMenu">
    <a
      mat-menu-item
      *ngFor="let link of ids; let i = index"
      [href]="'#' + link"
      [ngClass]="{ active: currentActive === i }"
      [routerLink]="'.'"
      [fragment]="link"
    >
      {{ link }}
    </a>
  </mat-menu>
</div>
