<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <div class="app-profile">
      <app-profile
        isName="Shashank Rawat"
        height="150"
        width="150"
      ></app-profile>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        {{ link.label }}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content cdkscrollable>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="flex: 1 1 auto;" routerLink="/">Shashank Rawat</span>
      <ng-container *ngIf="!isMobile">
        <a
          mat-button
          *ngFor="let link of ids; let i = index"
          [href]="'#' + link"
          [ngClass]="{ active: currentActive === i }"
          style="text-transform: capitalize;"
          (click)="scrollToElement(link)"
        >
          {{ i }} - {{ currentActive }}
          {{ link }}
        </a>
      </ng-container>
    </mat-toolbar>
    <main>
      <section *ngFor="let link of ids" [attr.id]="link" #links>
        <app-about *ngIf="link === 'about'"></app-about>
        <app-skills *ngIf="link === 'skills'"></app-skills>
        <app-experience *ngIf="link === 'experience'"></app-experience>
        <app-education *ngIf="link === 'education'"></app-education>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar color="primary">
  <!-- <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span style="flex: 1 1 auto;" routerLink="/">Shashank Rawat</span>
  <ng-container *ngIf="!isMobile">
    <a
      mat-button
      *ngFor="let link of ids; let i = index"
      [href]="'#' + link"
      [ngClass]="{ active: currentActive === i }"
      [routerLink]="'.'"
      [fragment]="link"
      style="text-transform: capitalize;"
    >
      {{ link }}
    </a>
  </ng-container>
</mat-toolbar>
<main>
  <section *ngFor="let link of ids" [attr.id]="link" #links>
    <app-about *ngIf="link === 'about'"></app-about>
    <app-skills *ngIf="link === 'skills'"></app-skills>
    <app-experience *ngIf="link === 'experience'"></app-experience>
    <app-education *ngIf="link === 'education'"></app-education>
  </section>
  <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->
</main>
