@import "./material/variables";

main,
mat-toolbar,
section {
    width: 100%;
}

nav {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000;
}

main {
    section {
        margin-bottom: 15rem;
    }
}

.active {
    background-color: $accent;
}

.fab-menu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

a {
    text-transform: capitalize;
    padding-right: 5rem;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
        width: 26px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }

    &--animate {
        .bar1 {
            -webkit-transform: rotate(-405deg) translate(-4px, 4px);
            transform: rotate(-405deg) translate(-4px, 4px);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            -webkit-transform: rotate(405deg) translate(-4px, -4px);
            transform: rotate(405deg) translate(-4px, -4px);
        }
    }
}

@media only screen and (min-width: 960px) {
    /* For medium screen: */
    nav {
        width: 80%;
        margin: 0 auto;

        .nav__list {
            font-size: 1rem;
            height: 100%;
            display: flex;
            align-items: center;

            a {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.5rem;
                text-decoration: none;
                color: #ffffff;
            }
            .active {
                background-color: transparent;
                color: $accent;
                border-bottom: 2px solid $accent;
            }
        }
    }

    main {
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;

        section {
            margin-bottom: 10rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    /* For large and xlarge screen: */

    nav,
    main {
        width: 60%;
        margin: 0 auto;
        max-width: 1000px;
    }

    main {
        margin-top: 2rem;
        margin-bottom: 20rem;
    }
}
