@import "./app/material/theme.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    background-color: $background;
    scroll-behavior: smooth;
}
